**/__pycache__/
#tools
temp
voices
tools/bin/
tools/SPTK-3.9/
tools/WORLD/
tools/genlab/bin/

tools/**/*.o
tools/**/*.a
tools/**/*.0
tools/**/.deps
tools/**/Makefile
tools/genlab/config.log
tools/genlab/config.status
tools/genlab/autom4te.cache/

